/* contain header styles */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px rgb(233, 233, 233) solid;
}

header .logo img {
    width: 80px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


@media only screen and (min-width: 760px) {
    header nav ul {
        width: 500px;
    }
}